@import url("header.css");
@import url("1_slider.css");
@import url("footer.css");
@import url("scrollbar.css");
@import url("/project-panelbreezy/css/news/news.css");
:root{
  --primary-color: #282828;
  --secondary-color: #323232;
  --accent-color: #8bbdef;
}
body{
    background-color: var(--primary-color);
    min-height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-top{
  margin: 0 auto;
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: var(--accent-color);
  text-align: center;
  bottom: 50%;
}
.h2{
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  Font-size: 60px;
  font-weight: 500;
  color: white;
}
.tablet img{
  display: block;
  margin: 0 auto;
}
.border{
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  height: 10px;
  margin: 150px;
}
.motto{
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 65px;
  text-align: center;
  font-weight: 700;
  color: white;
}
.download_button{
  display: flex;
  justify-content: center;
}
.download{
  background-color: var(--accent-color);
  border: none;
  border-radius: 50px;
  height: 100px;
  width: 450px;
  cursor: pointer;
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
  background-image: linear-gradient(to right, #8BBDEF, #59A1E8, #59A1E8);
  background-size: 200%;
  background-position: right;
  transition: 0.3s;
}
.download:hover{
  background-position: left;
}