.container-news h1{
    font-family: "Montserrat";
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}
.container-news{
    display: flex;
    flex-direction: column;
}
.first-q{
    margin: 60px auto;
    background-color: var(--secondary-color);
    width: 800px;
    height: 300px;
    border-radius: 40px;
}
.first-q-text{
    display: flex;
    padding: 5%;
}
.first-q-text h2{
    margin-left: 20px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -1px;
}
.first-q-answer h3{
    font-family: "Montserrat";
    color: white;
    font-weight: 300;
    font-size: 32px;
    padding-left: 5%;
    letter-spacing: -1px;
}
.first-q-answer a{
    font-family: "Montserrat";
    color: var(--accent-color);
    font-size: 32px;
    transition: 0.3s;
}
.first-q-answer a:hover{
    color: #4997e6;
}
.border1{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    height: 10px;
    padding: 0 35%;
    margin: 50px auto;
}
.second-q{
    margin: 60px auto;
    background-color: var(--secondary-color);
    width: 800px;
    height: 340px;
    border-radius: 40px;
}
.third-q{
    margin: 60px auto;
    background-color: var(--secondary-color);
    width: 850px;
    height: 460px;
    border-radius: 40px;
}